body {
  font-family: Jost;
}
.display-1 {
  font-family: "Open Sans", sans-serif;
  font-size: 2.5rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 3.125rem;
}
.display-2 {
  font-family: "Open Sans", sans-serif;
  font-size: 2.5rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.125rem;
}
.display-4 {
  font-family: "Jost", sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: "Jost", sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 1.875rem;
}
.display-7 {
  font-family: "Jost", sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.375rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 2rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 1.75rem;
    font-size: calc(1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc(
      1.1 * (1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20)))
    );
  }
  .display-2 {
    font-size: 2rem;
    font-size: calc(1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc(
      1.3 * (1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20)))
    );
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc(
      1.0350000000000001rem + (1.1 - 1.0350000000000001) *
        ((100vw - 20rem) / (48 - 20))
    );
    line-height: calc(
      1.4 *
        (
          1.0350000000000001rem + (1.1 - 1.0350000000000001) *
            ((100vw - 20rem) / (48 - 20))
        )
    );
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc(1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc(
      1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)))
    );
  }
  .display-7 {
    font-size: 0.88rem;
    font-size: calc(
      1.0350000000000001rem + (1.1 - 1.0350000000000001) *
        ((100vw - 20rem) / (48 - 20))
    );
    line-height: calc(
      1.4 *
        (
          1.0350000000000001rem + (1.1 - 1.0350000000000001) *
            ((100vw - 20rem) / (48 - 20))
        )
    );
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #17214c !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #2299aa !important;
}
.bg-warning {
  background-color: #f9f7f7 !important;
}
.bg-danger {
  background-color: #ffce15 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #17214c !important;
  border-color: #17214c !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #030409 !important;
  border-color: #030409 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #030409 !important;
  border-color: #030409 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
}
.btn-info,
.btn-info:active {
  background-color: #2299aa !important;
  border-color: #2299aa !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #145862 !important;
  border-color: #145862 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #145862 !important;
  border-color: #145862 !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #f9f7f7 !important;
  border-color: #f9f7f7 !important;
  color: #8a6767 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #d4c5c5 !important;
  border-color: #d4c5c5 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #8a6767 !important;
  background-color: #d4c5c5 !important;
  border-color: #d4c5c5 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ffce15 !important;
  border-color: #ffce15 !important;
  color: #151100 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #bd9600 !important;
  border-color: #bd9600 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #151100 !important;
  background-color: #bd9600 !important;
  border-color: #bd9600 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #17214c;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #030409 !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #17214c !important;
  border-color: #17214c !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff6666;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff0f0f !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #2299aa;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #145862 !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #2299aa !important;
  border-color: #2299aa !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #f9f7f7;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #d4c5c5 !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #8a6767 !important;
  background-color: #f9f7f7 !important;
  border-color: #f9f7f7 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffce15;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #bd9600 !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #151100 !important;
  background-color: #ffce15 !important;
  border-color: #ffce15 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #17214c !important;
}
.text-secondary {
  color: #ff6666 !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #2299aa !important;
}
.text-warning {
  color: #f9f7f7 !important;
}
.text-danger {
  color: #ffce15 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #000000 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff0000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #114c55 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #cdbdbd !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ae8a00 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #17214c;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #2299aa;
}
.alert-warning {
  background-color: #f9f7f7;
}
.alert-danger {
  background-color: #ffce15;
}
.mbr-gallery-filter li.active .btn {
  background-color: #17214c;
  border-color: #17214c;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #17214c;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #7486d5;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #6ad2e1;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #fff9e1;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: "Jost", sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px,
    rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #17214c !important;
}
.form-control:-webkit-input-placeholder {
  font-family: "Jost", sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #17214c;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #17214c;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #17214c;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #17214c;
  border-bottom-color: #17214c;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker
  .xdsoft_timepicker
  .xdsoft_time_box
  > div
  > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #17214c !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ff6666 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%2317214c' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-tfZy0oq2MW {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tfZy0oq2MW .mbr-fallback-image.disabled {
  display: none;
}
.cid-tfZy0oq2MW .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tfZy0oq2MW .mbr-section-title {
  color: #000000;
}
.cid-tg4TyOx9ud {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tg4TyOx9ud .mbr-fallback-image.disabled {
  display: none;
}
.cid-tg4TyOx9ud .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tg4TyOx9ud .oldcost {
  text-decoration: line-through;
  color: #000000;
}
.cid-tg4TyOx9ud .currentcost {
  color: #000000;
}
.cid-tg4TyOx9ud .card-wrapper {
  border-radius: 4px;
  background: #ffffff;
}
@media (min-width: 992px) {
  .cid-tg4TyOx9ud .text-box {
    padding: 2rem;
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-tg4TyOx9ud .text-box {
    padding: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-tg4TyOx9ud .text-box {
    padding: 1rem;
  }
}
.cid-tg4TyOx9ud .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-tg4TyOx9ud .mbr-text,
.cid-tg4TyOx9ud .cost,
.cid-tg4TyOx9ud .mbr-section-btn {
  text-align: center;
  color: #000000;
}
.cid-tmku9HJjyA {
  padding-top: 2rem;
  padding-bottom: 7rem;
  background-color: #ffffff;
}
.cid-tmku9HJjyA .mbr-fallback-image.disabled {
  display: none;
}
.cid-tmku9HJjyA .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tmku9HJjyA .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tmku9HJjyA .row {
  flex-direction: row-reverse;
}
.cid-tmku9HJjyA img {
  width: 100%;
}
.cid-tfZwy5SbAF .navbar-dropdown {
  position: relative !important;
}
.cid-tfZwy5SbAF .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tfZwy5SbAF .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-tfZwy5SbAF .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-tfZwy5SbAF .dropdown-item:hover,
.cid-tfZwy5SbAF .dropdown-item:focus {
  background: #17214c !important;
  color: white !important;
}
.cid-tfZwy5SbAF .dropdown-item:hover span {
  color: white;
}
.cid-tfZwy5SbAF .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-tfZwy5SbAF .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-tfZwy5SbAF .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-tfZwy5SbAF .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-tfZwy5SbAF .nav-link {
  position: relative;
}
.cid-tfZwy5SbAF .container {
  display: flex;
  margin: auto;
}
@media (min-width: 992px) {
  .cid-tfZwy5SbAF .container {
    flex-wrap: nowrap;
  }
}
.cid-tfZwy5SbAF .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-tfZwy5SbAF .dropdown-menu,
.cid-tfZwy5SbAF .navbar.opened {
  background: #136e73 !important;
}
.cid-tfZwy5SbAF .nav-item:focus,
.cid-tfZwy5SbAF .nav-link:focus {
  outline: none;
}
.cid-tfZwy5SbAF .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-tfZwy5SbAF .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-tfZwy5SbAF .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-tfZwy5SbAF .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tfZwy5SbAF .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tfZwy5SbAF .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-tfZwy5SbAF .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #136e73;
}
.cid-tfZwy5SbAF .navbar.opened {
  transition: all 0.3s;
}
.cid-tfZwy5SbAF .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-tfZwy5SbAF .navbar .navbar-logo img {
  width: auto;
}
.cid-tfZwy5SbAF .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-tfZwy5SbAF .navbar.collapsed {
  justify-content: center;
}
.cid-tfZwy5SbAF .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-tfZwy5SbAF .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-tfZwy5SbAF .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tfZwy5SbAF .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tfZwy5SbAF
  .navbar.collapsed
  .dropdown-menu
  .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-tfZwy5SbAF .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-tfZwy5SbAF .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-tfZwy5SbAF .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-tfZwy5SbAF .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-tfZwy5SbAF .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tfZwy5SbAF .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tfZwy5SbAF .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-tfZwy5SbAF
    .navbar
    .dropdown-menu
    .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-tfZwy5SbAF .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-tfZwy5SbAF .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-tfZwy5SbAF .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-tfZwy5SbAF .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-tfZwy5SbAF .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-tfZwy5SbAF .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
@media (max-width: 991px) and (max-width: 767px) {
  .cid-tfZwy5SbAF .navbar .navbar-brand {
    width: calc(100% - 31px);
  }
}
.cid-tfZwy5SbAF .navbar.navbar-short {
  min-height: 60px;
}
.cid-tfZwy5SbAF .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-tfZwy5SbAF .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-tfZwy5SbAF .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-tfZwy5SbAF .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-tfZwy5SbAF .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tfZwy5SbAF .dropdown-item.active,
.cid-tfZwy5SbAF .dropdown-item:active {
  background-color: transparent;
}
.cid-tfZwy5SbAF .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-tfZwy5SbAF .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tfZwy5SbAF .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tfZwy5SbAF .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #136e73;
}
.cid-tfZwy5SbAF
  .navbar.navbar-expand-lg
  .dropdown
  .dropdown-menu
  .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-tfZwy5SbAF .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-tfZwy5SbAF ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-tfZwy5SbAF .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-tfZwy5SbAF button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-tfZwy5SbAF button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #65c6d4;
}
.cid-tfZwy5SbAF button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tfZwy5SbAF button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tfZwy5SbAF button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tfZwy5SbAF button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tfZwy5SbAF nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tfZwy5SbAF nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-tfZwy5SbAF nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-tfZwy5SbAF nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tfZwy5SbAF .navbar-dropdown {
  padding: 0 1rem;
}
.cid-tfZwy5SbAF a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-tfZwy5SbAF .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-tfZwy5SbAF .navbar {
    height: 70px;
  }
  .cid-tfZwy5SbAF .navbar.opened {
    height: auto;
  }
  .cid-tfZwy5SbAF .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-tfZHw9pde5 {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #12309e;
}
.cid-tfZHw9pde5 img,
.cid-tfZHw9pde5 .item-img {
  width: 100%;
}
.cid-tfZHw9pde5 .item:focus,
.cid-tfZHw9pde5 span:focus {
  outline: none;
}
.cid-tfZHw9pde5 .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-tfZHw9pde5 .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-tfZHw9pde5 .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-tfZHw9pde5 .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-tfZHw9pde5 .mbr-section-btn {
  margin-top: auto !important;
}
.cid-tfZHw9pde5 .mbr-section-title {
  color: #f9f7f7;
}
.cid-tfZHw9pde5 .mbr-text,
.cid-tfZHw9pde5 .mbr-section-btn {
  text-align: center;
}
.cid-tfZHw9pde5 .item-title {
  text-align: center;
}
.cid-tfZHw9pde5 .item-subtitle {
  text-align: left;
}
.cid-tg0547c4ls {
  padding-top: 5rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-tg0547c4ls .mbr-fallback-image.disabled {
  display: none;
}
.cid-tg0547c4ls .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tg0547c4ls .mbr-section-title {
  color: #136e73;
}
.cid-tmkz96Xdxa {
  padding-top: 1rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-tmkz96Xdxa .mbr-fallback-image.disabled {
  display: none;
}
.cid-tmkz96Xdxa .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tmkz96Xdxa .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tmkz96Xdxa img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tmkz96Xdxa .text-wrapper {
    padding: 2rem;
  }
}
.cid-tg4Qt9PRkI {
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-tg4Qt9PRkI .mbr-fallback-image.disabled {
  display: none;
}
.cid-tg4Qt9PRkI .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tg4Qt9PRkI .mbr-section-title {
  color: #136e73;
}
.cid-tgDD9MtlX7 {
  padding-top: 1rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-tg4XATM2jH {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #12309e;
}
.cid-tg4XATM2jH .mbr-fallback-image.disabled {
  display: none;
}
.cid-tg4XATM2jH .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tg4XATM2jH .mbr-section-title {
  color: #ffffff;
}
.cid-tg4XATM2jH .mbr-section-subtitle {
  color: #ffffff;
}
.cid-tg52YLn8dY {
  padding-top: 6rem;
  padding-bottom: 0rem;
  background: #ffffff;
}
.cid-tg52YLn8dY .mbr-fallback-image.disabled {
  display: none;
}
.cid-tg52YLn8dY .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tg52YLn8dY .team-card {
  margin-bottom: 2rem;
  transition: all 0.3s;
}
.cid-tg52YLn8dY .team-card:hover {
  transform: translateY(-10px);
}
.cid-tg52YLn8dY .card-wrap {
  background: #ffffff;
  border-radius: 4px;
}
@media (max-width: 991px) {
  .cid-tg52YLn8dY .card-wrap {
    margin-bottom: 2rem;
  }
}
.cid-tg52YLn8dY .card-wrap .image-wrap img {
  width: 100%;
}
@media (min-width: 768px) {
  .cid-tg52YLn8dY .card-wrap .content-wrap {
    padding: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-tg52YLn8dY .card-wrap .content-wrap {
    padding: 1rem;
  }
}
.cid-tg52YLn8dY .social-row {
  text-align: center;
}
.cid-tg52YLn8dY .social-row .soc-item {
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin-right: 0.6rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 2px solid #6592e6;
  transition: all 0.3s;
}
.cid-tg52YLn8dY .social-row .soc-item .mbr-iconfont {
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-content: center;
  color: #6592e6;
  font-size: 1.5rem;
}
.cid-tg52YLn8dY .social-row .soc-item:hover {
  background-color: #6592e6;
}
.cid-tg52YLn8dY .social-row .soc-item:hover .mbr-iconfont {
  color: #ffffff;
}
.cid-tml0Mbsgq4 {
  padding-top: 0rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tml0Mbsgq4 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tml0Mbsgq4 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tml0Mbsgq4 .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tml0Mbsgq4 .row {
  flex-direction: row-reverse;
}
.cid-tml0Mbsgq4 img {
  width: 100%;
}
.cid-tmOsJxW2h7 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #136e73;
}
.cid-tmOsJxW2h7 .line {
  background-color: #ffffff;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-tmOsJxW2h7 .mbr-text {
  color: #ffffff;
}
.cid-tk30ijvRg1 {
  padding-top: 1rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-tk30ijvRg1 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tk30ijvRg1 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tk30ijvRg1 .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tk30ijvRg1 .row {
  flex-direction: row-reverse;
}
.cid-tk30ijvRg1 img {
  width: 100%;
}
.cid-tk30PAVQYM {
  padding-top: 2rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-tk30PAVQYM .mbr-fallback-image.disabled {
  display: none;
}
.cid-tk30PAVQYM .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tk30PAVQYM .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tk30PAVQYM .row {
  flex-direction: row-reverse;
}
.cid-tk30PAVQYM img {
  width: 100%;
}
.cid-tg555OK3qS {
  padding-top: 4rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-tg555OK3qS .mbr-fallback-image.disabled {
  display: none;
}
.cid-tg555OK3qS .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tg555OK3qS .mbr-section-title {
  color: #000000;
}
.cid-tmkwsFgFRJ {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tmkwsFgFRJ .mbr-fallback-image.disabled {
  display: none;
}
.cid-tmkwsFgFRJ .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tmkwsFgFRJ ul {
  list-style: none;
  margin: 0;
  padding-left: 2.5rem;
}
.cid-tmkwsFgFRJ li {
  position: relative;
  margin-bottom: 1rem;
}
.cid-tmkwsFgFRJ ul li::before {
  position: absolute;
  left: -1.6rem;
  content: "\2022";
  color: #17214c;
  font-weight: bold;
  font-size: 2rem;
  width: 1.6rem;
}
.cid-tmkwtgZSqE {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tmkwtgZSqE .mbr-fallback-image.disabled {
  display: none;
}
.cid-tmkwtgZSqE .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tmkwtgZSqE .item {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
@media (min-width: 991px) {
  .cid-tmkwtgZSqE .item {
    margin-bottom: 4rem;
  }
}
.cid-tmkwtgZSqE .item:last-child .icon-box:before {
  display: none;
}
.cid-tmkwtgZSqE .item.last .icon-box:before {
  display: none;
}
.cid-tmkwtgZSqE .icon-box {
  background: #6592e6;
  width: 60px;
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media (max-width: 768px) {
  .cid-tmkwtgZSqE .icon-box {
    margin-right: 1rem;
  }
}
.cid-tmkwtgZSqE .icon-box::before {
  content: "\e925";
  font-family: Moririse2 !important;
  position: absolute;
  font-size: 32px;
  left: 50%;
  top: 107%;
  color: #6592e6;
  transform: translate(-50%, 0);
}
.cid-tmkwtgZSqE span {
  font-size: 2rem;
  color: #ffffff;
}
@media (max-width: 991px) {
  .cid-tmkwtgZSqE .card {
    margin-bottom: 2rem;
  }
  .cid-tmkwtgZSqE .card-wrapper {
    margin-bottom: 2rem;
  }
  .cid-tmkwtgZSqE .icon-box::before {
    top: 141%;
  }
}
@media (max-width: 768px) {
  .cid-tmkwtgZSqE .icon-box::before {
    top: 114%;
  }
}
.cid-tg5fgeUBhe {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #136e73;
}
.cid-tg5fgeUBhe .mbr-fallback-image.disabled {
  display: none;
}
.cid-tg5fgeUBhe .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tg5fgeUBhe .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tg5fgeUBhe img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tg5fgeUBhe .text-wrapper {
    padding: 2rem;
  }
}
.cid-tg5fgeUBhe .mbr-section-title {
  text-align: center;
  color: #ffffff;
}
.cid-tg5fgeUBhe .mbr-text {
  text-align: center;
  color: #ffffff;
}
.cid-tg5gw4Nc9w {
  padding-top: 5rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tg5gw4Nc9w .mbr-fallback-image.disabled {
  display: none;
}
.cid-tg5gw4Nc9w .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tg5gw4Nc9w .mbr-section-title {
  color: #000000;
}
.cid-tmOjlentQ1 {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tmOjlentQ1 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tmOjlentQ1 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tmOjlentQ1 .mbr-section-subtitle {
  text-align: left;
}
.cid-tg5hmvDQxo {
  padding-top: 0rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tg5hmvDQxo .counter-container ul {
  margin: 0;
  list-style: none;
  padding-left: 2.5rem;
}
.cid-tg5hmvDQxo .counter-container ul li {
  margin-bottom: 1rem;
  list-style: none;
  position: relative;
  padding-left: 1rem;
}
.cid-tg5hmvDQxo .counter-container ul li:before {
  position: absolute;
  left: -40px;
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #6592e6;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 5px;
  content: "✓";
}
.cid-tg5i8bpdku {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #12309e;
}
.cid-tg5i8bpdku .mbr-fallback-image.disabled {
  display: none;
}
.cid-tg5i8bpdku .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tg5i8bpdku .mbr-section-title {
  color: #ffffff;
}
.cid-tg5i8bpdku .mbr-section-subtitle {
  color: #f9f7f7;
}
.cid-tg5ieSHDRC {
  padding-top: 6rem;
  padding-bottom: 0rem;
  background: #ffffff;
}
.cid-tg5ieSHDRC .mbr-fallback-image.disabled {
  display: none;
}
.cid-tg5ieSHDRC .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tg5ieSHDRC .team-card {
  margin-bottom: 2rem;
  transition: all 0.3s;
}
.cid-tg5ieSHDRC .team-card:hover {
  transform: translateY(-10px);
}
.cid-tg5ieSHDRC .card-wrap {
  background: #ffffff;
  border-radius: 4px;
}
@media (max-width: 991px) {
  .cid-tg5ieSHDRC .card-wrap {
    margin-bottom: 2rem;
  }
}
.cid-tg5ieSHDRC .card-wrap .image-wrap img {
  width: 100%;
}
@media (min-width: 768px) {
  .cid-tg5ieSHDRC .card-wrap .content-wrap {
    padding: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-tg5ieSHDRC .card-wrap .content-wrap {
    padding: 1rem;
  }
}
.cid-tg5ieSHDRC .social-row {
  text-align: center;
}
.cid-tg5ieSHDRC .social-row .soc-item {
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin-right: 0.6rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 2px solid #6592e6;
  transition: all 0.3s;
}
.cid-tg5ieSHDRC .social-row .soc-item .mbr-iconfont {
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-content: center;
  color: #6592e6;
  font-size: 1.5rem;
}
.cid-tg5ieSHDRC .social-row .soc-item:hover {
  background-color: #6592e6;
}
.cid-tg5ieSHDRC .social-row .soc-item:hover .mbr-iconfont {
  color: #ffffff;
}
.cid-tml0lro6hm {
  padding-top: 0rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tml0lro6hm .mbr-fallback-image.disabled {
  display: none;
}
.cid-tml0lro6hm .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tml0lro6hm .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tml0lro6hm .row {
  flex-direction: row-reverse;
}
.cid-tml0lro6hm img {
  width: 100%;
}
.cid-tg5iiDipw4 {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tg5iiDipw4 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tg5iiDipw4 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tg5iiDipw4 .mbr-section-title {
  color: #000000;
}
.cid-tg5iLP8lI8 {
  padding-top: 2rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-tg5iLP8lI8 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tg5iLP8lI8 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tg5iLP8lI8 .mbr-iconfont {
  font-size: 1.4rem !important;
  font-family: "Moririse2" !important;
  color: #17214c;
  margin-left: 1rem;
}
.cid-tg5iLP8lI8 .panel-group {
  border: none;
}
.cid-tg5iLP8lI8 .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-tg5iLP8lI8 .panel-body,
.cid-tg5iLP8lI8 .card-header {
  padding: 1rem 0;
}
.cid-tg5iLP8lI8 .panel-title-edit {
  color: #000000;
  text-align: center;
}
.cid-tg5iLP8lI8 .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
}
.cid-tg5l6b4oGA {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tg5l6b4oGA .mbr-fallback-image.disabled {
  display: none;
}
.cid-tg5l6b4oGA .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tg5l6b4oGA .oldcost {
  text-decoration: line-through;
  color: #ffffff;
  text-align: center;
}
.cid-tg5l6b4oGA .currentcost {
  color: #232323;
}
.cid-tg5l6b4oGA .card-wrapper {
  border-radius: 4px;
  background: #12309e;
}
@media (min-width: 992px) {
  .cid-tg5l6b4oGA .text-box {
    padding: 2rem;
    padding-right: 4rem;
    padding-left: 4rem;
    padding-right: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-tg5l6b4oGA .text-box {
    padding: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-tg5l6b4oGA .text-box {
    padding: 1rem;
  }
}
.cid-tg5l6b4oGA .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-tg5l6b4oGA H5 {
  text-align: center;
  color: #f9f7f7;
}
.cid-tg5l6b4oGA .mbr-text,
.cid-tg5l6b4oGA .cost,
.cid-tg5l6b4oGA .mbr-section-btn {
  text-align: center;
}
.cid-tg5qVm6smh {
  padding-top: 5rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tg5qVm6smh .mbr-fallback-image.disabled {
  display: none;
}
.cid-tg5qVm6smh .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tg5rraicYS {
  padding-top: 3rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-tg5rraicYS .mbr-fallback-image.disabled {
  display: none;
}
.cid-tg5rraicYS .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tg5rraicYS .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tg5rraicYS .row {
  flex-direction: row-reverse;
}
.cid-tg5rraicYS img {
  width: 100%;
}
.cid-tg5rVjef6H {
  padding-top: 3rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-tg5sw1bLZm {
  padding-top: 0rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-tg5sxHYfj9 {
  padding-top: 0rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-tg5utaJMNL {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #e6c63b;
}
.cid-tg5utaJMNL .mbr-fallback-image.disabled {
  display: none;
}
.cid-tg5utaJMNL .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tg5utaJMNL ul {
  list-style: none;
  margin: 0;
  padding-left: 2.5rem;
}
.cid-tg5utaJMNL li {
  position: relative;
  margin-bottom: 1rem;
}
.cid-tg5utaJMNL ul li::before {
  position: absolute;
  left: -1.6rem;
  content: "\2022";
  color: #000000;
  font-weight: bold;
  font-size: 2rem;
  width: 1.6rem;
}
.cid-tg5utaJMNL .list {
  color: #353535;
}
.cid-tg5Gj2H4TD {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #232323;
  overflow: hidden;
}
